#topproducts {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    text-shadow: 5px 5px #fef4f6;
}

#faves {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(253,236,236,1) 30%);
    background-size: cover;
    /* background-image: url(imgs/360_F_509519303_qtNSlVUAI6dqy974zJz9xGzTr27Ahpqx.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
}

table {
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

#medik8 {
    max-width: 400px;
    max-height: 400px;
    /* margin-left: 5px; */
    margin-right: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: #b9b9b9;
    box-shadow: 0 0 20px 20px #fef7f4;

}

#prevage {
    max-width: 500px;
    max-height: 500px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: #b9b9b9;
    box-shadow: 0 0 20px 20px #fef7f4;

}

#ordinarymarula {
    max-width: 400px;
    max-height: 400px;
    margin-left: 20px;
    /* margin-right: 5px; */
    border-style: solid;
    border-width: 2px;
    border-color: #b9b9b9;
    box-shadow: 0 0 20px 20px #fef7f4;

}

#happyskin {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #000000;
    text-align: center;
    background-image: url(imgs/pinkclouds.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 2px 2px #fef7f4;

}

#articles {
    padding-top: 100px;
    background: rgb(253,236,236);
    background: linear-gradient(180deg, rgba(253,236,236,1) 30%, rgba(255,255,255,1) 100%);

}

#article1 {
    /* display: inline-block; */
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    max-width: 600px;
    max-height: 600px;
    vertical-align: middle;
    margin-left: 10%;
    
}

#article2 {
    /* display: inline-block; */
    text-align: right;
    max-width: 1000px;
    max-height: 1000px;
    vertical-align: middle;
    margin-left: 50%;
    margin-right: 10%;
    
}

#newsletter {
    background-color: #dde;
    padding-top: 50px;
    padding-left: 20px;
    margin-right: 70%;
}

#fname {
    padding: 10px;
    margin: 10px 0;

}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: #dde;
}

footer a {
    margin: 5px;
  }

#totop {
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 20px;
    right: 30px;
    border-radius: 50%;
    text-align: center;

}

#pg2title {
    text-align: center;
    padding-top: 2%;
}

#retinal {
    margin-left: 2%;
    margin-right: 2%;
}

#privage {
    margin-left: 2%;
    margin-right: 2%;
}

#marula {
    margin-left: 2%;
    margin-right: 2%;
    padding-bottom: 2%;
}

#second-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: #dde;
  }

  #medik82 {
    margin-top: 5%;
    margin-left: 25%;
    box-shadow: 0 0 40px 40px #fef7f4;
    max-width: 800px;
    max-height: auto;

  }

  #prevage2 {
    box-shadow: 0 0 40px 40px #fef7f4;
  }

  #ordinarymarula2 {
    margin-left: 10%;
    margin-bottom: 5%;
    box-shadow: 0 0 40px 40px #fef7f4;
  }

  #pgcolour {
    background: rgb(227,189,117);
    background: linear-gradient(180deg, rgba(227,189,117,1) 25%, rgba(255,255,255,1) 100%);
    padding-left: 20px;
  }

 .container {
    position: sticky;
 }

 .text-block {
    position: left;
    bottom: 20px;
    right: 20px;
    background-color: rgb(253, 223, 166);
    color: black;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
 }
